@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400&display=swap');

body {
    font-family: 'Inria Sans', sans-serif;
    background-color: black;
}

nav {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

footer {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
    margin-right: 20px;
}

.corbranca {
    color: white;
}

.container {
    color: white;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45% 0; 
    padding: 10px 0;
}
